body {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgb(205, 167, 222);
}

.reference {
    position: relative;
    background: #fdfdfd;
    width: 150px;
    height: auto;
    border-radius: 15px;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: large;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
}

.popout-menu {
    position: static;
    visibility: hidden;
    left: 100%;
    background: #f7bbb6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(81, 11, 11);
    padding: 16px;
    font-family: monospace;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
}

.reference:hover > .popout-menu,
.reference:focus > .popout-menu,
.reference:focus-within > .popout-menu {
    visibility: visible;
}



